* {
  margin: 0;
  padding: 0;
}
.name {
  color: red;
}

.product {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-items: center;
  align-content: center;
  border: 0.1em solid black;
}

.product > * {
  margin: 0em 0 0.5em 0;
}

.product img {
  width: 100%;
}
